
<!-- <div *ngIf="user">Bonjour {{user.first_name}} {{user.last_name}}</div> -->
<div *ngIf="msgError"><p class="msgError">{{msgError}}</p></div>
<div class="modal-body">
  <form  (submit)="onSubmit($event)">
    <input type="text" class="form-control mrg-btom" name="login" placeholder="votre@email.com" [(ngModel)]="user.email">
    <input type="password" class="form-control mrg-btom" name="password" placeholder="mot de passe" [(ngModel)]="user.password">
    <input type="submit" name="send" class="btn btn-atypik btn-md" value="Envoyer">
  </form>
</div>
