<nav class="navbar navbar-light">
  <a class="navbar-brand" routerLink = "#"><img class="logo-navbar" src="assets/img/reduit-1.jpg"/></a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink = "home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "accommodations">Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "activities">Activités</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Le projet Atypik House</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "#" >Devenir hôte</a>
    </li>
  <!--
      <li class="nav-item" *ngIf="user">Bonjour {{user.first_name}} {{user.last_name}}
    </li> -->
  </ul>
  <div *ngIf="user"> Bon {{user.first_name}} {{user.last_name}}
    <a class="nav-link" (click)=deconnexionUser() routerLink="/"> Se déconnecter</a>
  </div>
  <div *ngIf="!user"> Se connecter</div>
</nav>

<div class="col-md-4 col-sm-12 padding-gallery">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal" style="background: url(myimage.png)">
      co
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-width" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">titlemodal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <p>plop</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>
