<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink = "#">AtypikHouse</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink = "home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "accommodations">Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "activities">Activités</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Le projet Atypik House</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "#" >Devenir hôte</a>
    </li>
  <!--
      <li class="nav-item" *ngIf="user">Bonjour {{user.first_name}} {{user.last_name}}
    </li> -->
  </ul>
</nav>
