<div id="hero-07" style="background: linear-gradient(90deg, rgb(52, 202, 187) 10%, rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2015/05/18/23/53/norway-772991_960_720.jpg') center center; background-size: cover;">
  <div class="container d-flex flex-column" style="min-height: 105vh;">
  </div>
</div>
  <!-- <a routerLink="activity-details">Kaouet</a> -->
<section class="gallery-block cards-gallery">
  <div class="container">
    <div class="heading">
          <h2>Vivre une expérience Atypik</h2>
    </div>
    <div class="row">

        <div *ngFor="let activity of activities" class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox" href="../img/image1.jpg">
                <img src="{{activity.photos_activity}}" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">{{activity.name_activty}}</a></h6>
                    <p class="text-muted card-text">{{activity.description_activity}}</p>
                    <!-- <button type="button" class="btn btn-atypik btn-md">Découvrir</button> -->
                    <button type="button" class="btn btn-atypik btn-md" routerLink="/activity-details" >Découvrir</button>

                </div>
            </div>
        </div>
    </div>
      </div>
</section>
