<form >
        <div class="form-row">
            <div class="col-lg-6">
              <label for="dateDepart" class="col-form-label">Date de départ</label>
              <!-- <my-date-picker name="" class="form-control" id="staticEmail1" placeholder="email@example.com"> -->
              <my-date-picker name="dateDepart" [options]="myDatePickerOptions"[(ngModel)]="dateDepart" required></my-date-picker>
            </div>
            <div class="form-group col-lg-6">
              <label for="dateFin" class="col-form-label">Date de retour</label>
              <!-- <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com"> -->
              <my-date-picker name="dateFin" [options]="myDatePickerOptions"[(ngModel)]="dateFin" required></my-date-picker>
            </div>
        </div>
        <div class="form-row">

            <div class="col-lg-12">
                <label for="staticEmail" class="col-form-label">Nombre de voyageurs :</label>
                <select class="custom-select" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
              <div class="col-lg-12">
                <br/><button type="submit" (click)=sendReservation($event) class="btn btn-atypik btn-md" data-toggle="modal" data-target="#reservationModal">Demande de réservation</button>
                <!-- (click)=sendReservation($event) -->

              </div>
        </div>

</form>

<!-- Modal LOGIN -->
<div class="modal fade padding-rght" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <img class="logofooter card-img-top" src="assets/img/LogoV1.png"/> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="user" class="modal-body text-center">
                <img class=" " src="assets/img/LogoV1.png"/>
                <h5 class="margin-top-modal">Demande de réservation envoyé !</h5>
                <p>Votre réservation sera compléte dès la validation de votre futur hôte et la validation du payement.</p>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal LOGIN -->
