<div class="card" style="width: 18rem;">
  <div class="card-header color-atypik">
    A PROPOS
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bdr-a-propos"><a>Langue : {{user.langues}}</a></li>
    <li class="list-group-item bdr-a-propos"><a>Localisation : {{user.localisation}}</a></li>
    <li class="list-group-item bdr-a-propos"><a>Age : {{user.age}} ans</a></li>
  </ul>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header color-atypik">
    RESERVATIONS
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a (click)=onSelect() routerLink="user-reservations">vos réservations</a></li>
    <li class="list-group-item"><a href="#">historique</a></li>
    <li class="list-group-item"><a href="#">notifications <span class="badge">3</span></a></li>
  </ul>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header color-atypik">
    LOCATIONS
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">hébergements</a></li>
    <li class="list-group-item"><a href="#">planning</a></li>
    <li class="list-group-item"><a href="#">notifications <span class="badge">3</span></a></li>
  </ul>
</div>
