@media (min-width: 768px) {

  .badge{
    background-color: #34CABB;
    color: white;
  }
  .card{
    margin-bottom: 15px;
    border-radius:5px;
    box-shadow: 0 3px 5px rgba(0,0,0,.1); }
}
.color-atypik{
  background-color: rgb(52, 202, 187);
  color: white;
}
.bdr-a-propos{
  border-color: white !important;
}
