<div class="wrapper">
  <!-- ================ Photo USER ======================= -->
  <div class="container-fluid">
      <div class="text-center ">
    <img src="{{user.photo_user}}" class="img-circle bdr-radius-img">
  </div>

  <!-- ================ FORM UPDATE USER PROFIL ======================= -->
  <section>
      <div class="container">
        <div class="col-md-12 col-sm-12 col-md-offset-1 mob-padd-0">
              <!-- Informations générales -->
              <div class="add-listing-box general-info mrg-bot-25 padd-bot-30 padd-top-25">
                <div class="listing-box-header">

                  <h3>Informations générales   <i class="fa fa-user"></i></h3>
                </div>
              </div>
              <!-- FIN Informations générales -->
              <!-- Addesse -->
              <div class="add-listing-box add-location mrg-bot-25 padd-bot-30 padd-top-25">
                <div class="listing-box-header">
                  <p>Vos coordonnées : </p>
                </div>
                <form>
                  <div class="row mrg-r-10 mrg-l-10">
                    <div class="col-sm-6">
                        <label>Nom</label>
                        <input type="text" class="form-control" [(ngModel)]="user.last_name" name="last_name">
                    </div>
                    <div class="col-sm-6">
                        <label>Prénom</label>
                        <input type="text" class="form-control" [(ngModel)]="user.first_name" name="first_name">
                    </div>
                    <div class="col-sm-6">
                        <label>Email</label>
                        <input type="text" class="form-control" [(ngModel)]="user.email" name="email">
                    </div>
                    <div class="col-sm-6">
                        <label>Téléphone</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Addresse 1</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Addresse 2</label>
                        <input type="text" class="form-control" [(ngModel)]="user.localisation" name="localisation">
                    </div>
                    <div class="col-sm-6">
                        <label>Ville</label>
                          <select data-placeholder="Choose City" class="form-control chosen-select" tabindex="2">
                            <option>Toulouse</option>
                            <option>Paris</option>
                            <option>Carcassone</option>
                            <option>Toulon</option>
                          </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Code postal</label>
                        <input type="text" class="form-control">
                    </div>
                  </div>
                </form>
              </div>
              <!-- FIN Addesse -->
              <!-- Description -->
              <div class="add-listing-box full-detail mrg-bot-25 padd-bot-30 padd-top-25">
                <div class="listing-box-header"><br>
                  <h3>Un peu plus de détails ...   <i class="fa fa-comment"></i></h3>
                  <p>Prenez le temps de décrire vos passions et votre cadre de vie !</p>
                </div>
              <form>
                <div class="row mrg-r-10 mrg-l-10">
                  <div class="col-sm-12">
                      <label>Description</label>
                      <textarea class="h-100 form-control" [(ngModel)]="user.description" name="description"></textarea>
                  </div>
                </div>
              </form>
              </div>
              <!-- End Full Information -->
              <div class="text-center mrg-btn-updateForm">
                <button type="button" class="btn btn-atypik btn-md " (click)="goBack()">Enregistrer votre logement</button>
              </div>
        </div>

      </div>
  </section>
  <!-- ================ FIN FORM UPDATE USER PROFIL ======================= -->

      <!-- START JAVASCRIPT -->
      <!-- Jquery js-->
      <script src="assets/js/jquery.min.js"></script>

      <!-- Bootstrap js-->
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

      <!-- Bootsnav js-->
      <script src="assets/plugins/bootstrap/js/bootsnav.js"></script>
      <script src="assets/js/viewportchecker.js"></script>

      <!-- Slick Slider js-->
      <script src="assets/plugins/slick-slider/slick.js"></script>

      <!-- counter js-->
      <script src="assets/plugins/jquery-counter/js/waypoints.min.js"></script>
                <script src="assets/plugins/jquery-counter/js/jquery.counterup.min.js"></script>

      <!-- bootstrap Select js-->
      <script src="assets/plugins/bootstrap/js/bootstrap-select.min.js"></script>

      <!-- bootstrap Select js-->
      <script src="assets/plugins/bootstrap-choosen/js/chosen.jquery.js"></script>

      <!-- Dropzone js-->
      <script src="assets/plugins/dropzone/dropzone.js"></script>

      <script src="assets/js/jQuery.style.switcher.js"></script>

      <!-- Custom Js -->
      <script src="assets/js/custom.js"></script>

      <script>
      function openRightMenu() {
      document.getElementById("rightMenu").style.display = "block";
      }
      function closeRightMenu() {
      document.getElementById("rightMenu").style.display = "none";
      }
      </script>

      <script type="text/javascript">
      $(document).ready(function() {
      $('#styleOptions').styleSwitcher();
      });
      </script>

      <script>
        $(function() {
      $('.chosen-select').chosen();
      $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        });
      </script>

  </div>
