<div class="wrapper">
<!-- ================ Start Navigation ======================= -->
<nav class=" white bootsnav">
<div class="container-fluid">
    <div class="text-center ">
<!-- <img class="logofooter" src="{{user.photo_user}}"/> -->
  <img src="{{user.photo_user}}" class="img-circle bdr-radius-img">
</div>

<!-- ================ Start Add Listing Section ======================= -->
<section>
<div class="container">
<div class="col-md-12 col-sm-12 col-md-offset-1 mob-padd-0">
<!-- Informations générales -->
<div class="add-listing-box general-info mrg-bot-25 padd-bot-30 padd-top-25">
  <div class="listing-box-header">

    <h3>Informations générales   <i class="fa fa-home"></i></h3>
    <p>Définissez les informations principales de votre logement </p>
  </div>
  <form>
  <div class="row mrg-r-10 mrg-l-10">
    <div class="col-sm-12">
    <label>Titre de votre location</label>
    <input type="text" class="form-control">
    </div>

    <div class="col-sm-6">
    <label>Catégorie</label>
      <select data-placeholder="Choose Category" class="form-control chosen-select" tabindex="2">
        <option>Maison</option>
        <option>Cabane</option>
        <option>Appartement</option>
        <option>Yourt</option>
        <option>Tente</option>
        <option>Igloo</option>
        <option>Chambre</option>
      </select>
    </div>
  <div class="col-sm-6">
  <label>Nombre de couchage</label>
      <select data-placeholder="Choose Category" class="form-control chosen-select" tabindex="2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
  </div>
  </div>
  </form>
</div>
<!-- FIN Informations générales -->

<!-- Addesse -->
<div class="add-listing-box add-location mrg-bot-25 padd-bot-30 padd-top-25">
  <div class="listing-box-header">
    <br/><p>Renseignez l'adresse de votre location</p>
  </div>
  <form>
  <div class="row mrg-r-10 mrg-l-10">
    <div class="col-sm-6">
    <label>Nom</label>
    <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
    <label>Prénom</label>
    <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
    <label>Email</label>
    <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
    <label>Téléphone</label>
    <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <label>Addresse 1</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
    <label>Addresse 2</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
    <label>Ville</label>
      <select data-placeholder="Choose City" class="form-control chosen-select" tabindex="2">
        <option>Toulouse</option>
        <option>Paris</option>
        <option>Carcassone</option>
        <option>Toulon</option>
      </select>
    </div>
    <div class="col-sm-6">
    <label>Code postal</label>
      <input type="text" class="form-control">
    </div>
  </div>
  </form>
</div>
<!-- End Addesse -->

<!-- Full Information -->
<div class="add-listing-box full-detail mrg-bot-25 padd-bot-30 padd-top-25">
<div class="listing-box-header">
<i class="ti-write theme-cl"></i>
<h3>Un peu plus de détails ...   <i class="fa fa-key"></i></h3>
<p>Prenez le temps de décrire votre logement de la manière la plus juste !</p>
</div>
<form>
<div class="row mrg-r-10 mrg-l-10">
  <div class="col-sm-6">
    <label>Nombre de salle de bain</label>
        <select data-placeholder="Choose Category" class="form-control chosen-select" tabindex="2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
  </div>

  <div class="col-sm-6">
    <label>Lits d'appoint</label>
        <select data-placeholder="Choose Category" class="form-control chosen-select" tabindex="2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
  </div>

  <div class="col-sm-12">
  <label>Description</label>
  <textarea class="h-100 form-control"></textarea>
  </div>

</div>
</form>
</div>
<!-- End Full Information -->


<!-- Options de location -->
<div class="add-listing-box amenities mrg-bot-25 padd-bot-30 padd-top-25 mgr-formlo">
  <div class="listing-box-header">
  <i class="ti-write theme-cl"></i>
  <h3>Equipements   <i class="fa fa-shower"></i></h3>
  <p>Listez tout les équipements de votre location</p>
  </div>
  <form>
  <div class="row mrg-r-10 mrg-l-10">
  <div class="col-sm-4">
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select1">
  <label for="select1"></label>
  Alarme
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select2">
  <label for="select2"></label>
  Ventillateur
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select3">
  <label for="select3"></label>
  Cheminée
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select4">
  <label for="select4"></label>
  Piscine
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select5">
  <label for="select5"></label>
  Fer à repasser
  </span>
  </div>

  <div class="col-sm-4">
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select6">
  <label for="select6"></label>
  Cuisine
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select7">
  <label for="select7"></label>
  Wifi gratuit
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select8">
  <label for="select8"></label>
  Parking
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select9">
  <label for="select9"></label>
  Accès adapté
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select10">
  <label for="select10"></label>
  Télévision
  </span>
  </div>

  <div class="col-sm-4">
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select11">
  <label for="select11"></label>
  Ascenseur
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select12">
  <label for="select12"></label>
  Linge de maison
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select13">
  <label for="select13"></label>
  Lit enfant
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select14">
  <label for="select14"></label>
  Salle de sport
  </span>
  <span class="custom-checkbox d-block">
  <input type="checkbox" id="select15">
  <label for="select15"></label>
  Animaux autorisé
  </span>
  </div>

  </div>
  </form>
</div>
<!-- FIN Options de location -->



<div class="text-center ">
  <button type="button" class="btn btn-atypik btn-md ">Enregistrer votre logement</button>
</div>
</div>

</div>
</section>
<!-- ================ End Add Listing Section ======================= -->


<!-- START JAVASCRIPT -->
<!-- Jquery js-->
<script src="assets/js/jquery.min.js"></script>

<!-- Bootstrap js-->
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Bootsnav js-->
<script src="assets/plugins/bootstrap/js/bootsnav.js"></script>
<script src="assets/js/viewportchecker.js"></script>

<!-- Slick Slider js-->
<script src="assets/plugins/slick-slider/slick.js"></script>

<!-- counter js-->
<script src="assets/plugins/jquery-counter/js/waypoints.min.js"></script>
          <script src="assets/plugins/jquery-counter/js/jquery.counterup.min.js"></script>

<!-- bootstrap Select js-->
<script src="assets/plugins/bootstrap/js/bootstrap-select.min.js"></script>

<!-- bootstrap Select js-->
<script src="assets/plugins/bootstrap-choosen/js/chosen.jquery.js"></script>

<!-- Dropzone js-->
<script src="assets/plugins/dropzone/dropzone.js"></script>

<script src="assets/js/jQuery.style.switcher.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom.js"></script>

<script>
function openRightMenu() {
document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
document.getElementById("rightMenu").style.display = "none";
}
</script>

<script type="text/javascript">
$(document).ready(function() {
$('#styleOptions').styleSwitcher();
});
</script>

<script>
  $(function() {
$('.chosen-select').chosen();
$('.chosen-select-deselect').chosen({ allow_single_deselect: true });
  });
</script>

</div>
