<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">Bonjour, mon but est que vous vous sentiez chez moi comme chez vous, si ce n'est mieux! Passionnée de gastronomie, de musique et d'art de vivre, je suis une mine de bons plans dans toute la Provence que je connais très bien. Avant et pendant votre séjour, je vous conseillerais au mieux pour faire de votre escale à Avignon une expérience inoubliable.</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
