<div id="container-fluid">
  <div class="row margin-card">
  <div class="col-md-3 center-menu-user">
    <app-user-navbar></app-user-navbar>
  </div>
  <div class="col-md-9">
    <div class="row">

        <!-- Photo user  ------------------------------------------------------------->
        <div class="col-md-3 media-left">
            <img src="https://a0.muscache.com/im/pictures/e8fd902e-bbe2-4efe-b741-2810551d6434.jpg?aki_policy=profile_x_medium" class="img-circle bdr-radius-img">

        </div>
        <div class="col-md-6">
              <h1 class="">Emilia</h1>
              <p class="">Avignon, France · Membre depuis mai 2013</p>
        </div>

      <div class="col-md-3">
        <button type="button" class="btn btn-atypik btn-md flt-btn">Modififer mon profil</button>
      <!-- FIN Photo user  ------------------------------------------------------------->
    </div>
    </div>
    <div class="row">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Commentaires <i class="fa fa-comments"></i></h5>
              <p class="card-text">156</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Logement certifié <i class="fa fa-check-circle"></i></h5>
              <p class="card-text">Certifié depuis le : 10/08/2018</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Locations <i class="fa fa-key"></i></h5>
              <a href="#" class="card-text">3 locations </a>
            </div>
          </div>
        </div>
      </div>
  <app-user-content></app-user-content>

    </div>
  </div>
  </div>
