<div id="hero-07" [ngStyle]="{'background-image':'url('+activity.photos_activity+')'}"  style="background: center center; background-size: cover;">
    <div class="container d-flex flex-column" style="min-height: 105vh;">
    </div>
</div>
<section class="gallery-block cards-gallery">

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8 col-lg-8">
            <h6>Type d'expérience : {{activity.type_activity}}</h6>
            <h1>{{activity.name_activty}}</h1>
            <p>Localisation: {{activity.city}}</p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal" style="background: url(myimage.png)">
                            <img class="imgCarrousel img-responsive" src="{{activity.photos_activity1}}" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- <h5 class="modal-title" id="exampleModalLabel">{{activity.name_activty}}</h5> -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="{{activity.photos_activity1}}" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal2" style="background: url(myimage.png)">
                              <img class="imgCarrousel img-responsive" src="{{activity.photos_activity2}}" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- <h5 class="modal-title" id="exampleModalLabel">Mod22222al title</h5> -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="{{activity.photos_activity2}}" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 padding-gallery">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModal3" style="background: url(myimage.png)">
                              <img class="imgCarrousel img-responsive" src="{{activity.photos_activity3}}" alt="Card Image" >
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- <h5 class="modal-title" id="exampleModalLabel">Moda4546546l title</h5> -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <img class="size-img-modal img-responsive" src="{{activity.photos_activity3}}" alt="Card Image" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fin carrousel -->
            </div>
            <!--fin de la row gallery-->
            <!--a propos de votre guide-->
            <!-- <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="card bdrLogement">
                    <div class="card-header bckgrd">
                      A PROPOS DE VOTRE GUIDE :
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
            </div> -->
              <!--FIN a propos de votre guide-->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="card bdrLogement">
                    <div class="card-header bckgrd">
                      AU PROGRAMME :
                    </div>
                    <div class="card-body">
                      <p><i class="fa fa-hourglass-start fnt-size-i"></i> Durée  : {{activity.duration}}</p>
                      <p><i class="fa fa-credit-card fnt-size-i"></i> Prix  : {{activity.price}}€</p>
                      <blockquote class="blockquote mb-0">
                        <p>{{activity.description_activity}}</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
		              <div class="col-md-12 col-lg-12">
                  <!-- Fluid width widget -->
              	    <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title comtitleFont">
                                  COMMENTAIRES :
                              </h4>
                          </div>
                          <div class="panel-body">
                              <ul class="media-list">
                                  <li class="media">
                                      <div class="media-left">
                                          <img src="http://placehold.it/60x60" class="img-circle bdr-radius-img">
                                      </div>
                                      <div class="media-body">
                                          <h4 class="media-heading userFont">
                                              Mauris Eu
                                              <br>
                                              <small>
                                                <a class="li-ic">
                                                  <i class="fa fa-star"> </i>
                                                </a>
                                              </small>
                                          </h4>
                                          <p>{{activity.commentaire_activity}}</p>
                                      </div>
                                  </li>
                              </ul>
                              <a href="#" class="btn btn-default btn-block">Plus de commentaires »</a>
                          </div>
                      </div>
                  <!-- End fluid width widget -->

	          	</div>
	           </div>

        </div>

        <div class="col-md-4 col-lg-4">
          <!-- Recherche disponibilités ------------------------------------------------------------->
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-header">
                              Contacter votre guide :
                            </div>
                            <div class="card-body text-center">
                                <form>
                                        <div class="row">
                                          <p class="text-center">PRIX : {{activity.price}}€/personne</p>
                                        </div>
                                        <div class="row">

                                              <div class="col-lg-12">
                                                <br/><button type="button" class="btn btn-atypik btn-md">Demande de réservation</button>
                                              </div>
                                        </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Recherche disponibilités ------------------------------------------------------------->
            <!-- Profil du loueur ------------------------------------------------------------->
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-header">
                              Votre guide :
                            </div>
                              <div class="card-body text-center">
                                <div class="media-left">
                                    <img src="{{activity.photo_user}}" class="img-circle bdr-radius-img height-photo-user-activity">
                                </div>
                                    <p>{{activity.first_name}}</p>
                                    <button type="button" class="btn btn-atypik btn-md" (click)=selectUserActivity(user) routerLink="../../users/{{activity.id_user}}" >Voir le profil</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- FIN Profil du loueur ------------------------------------------------------------->


            <iframe width="100%" height="300" border-radius="15px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>

        </div>

    </div>
</section>
