<div id="hero-07" style="background: linear-gradient(90deg, rgb(52, 202, 187) 10%, rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2015/06/19/21/24/road-815297_960_720.jpg') center center; background-size: cover;">
  <div class="container d-flex flex-column" style="min-height: 105vh;">
    <div class="row my-auto">
      <div class="col-lg-5 col-md-10 col-sm-12 py-5 text-black my-auto text-center text-lg-left mx-auto ml-lg-0 mr-lg-auto">
        <div class="card border-0">
              <div class="card-header bg-transparent px-5">
                    <img class="logofooter card-img-top" src="assets/img/LogoV1.png"/>
              </div>
              <div class="card-block pt-4 px-5 pb-5">
                <form>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <label for="staticEmail" class="col-form-label">Date de départ</label>
                                <input type="text" class="form-control" id="staticEmail1" placeholder="email@example.com">
                            </div>
                            <div class="form-group col-lg-6">
                              <label for="staticEmail" class="col-form-label">Date de retour</label>
                              <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col-lg-12">
                                <label for="staticEmail" class="col-form-label">Nombre de voyageurs :</label>
                                <select class="custom-select" required>
                                    <option value="">Open this select menu</option>
                                    <option value="1">Un</option>
                                    <option value="2">Deux</option>
                                    <option value="3">Trois</option>
                                </select>
                            </div>
                              <div class="col-lg-12">
                                <br/><button type="button" class="btn btn-atypik btn-md">Demande de réservation</button>
                              </div>
                        </div>

                </form>
                </div>
        </div>
      </div>
                      <!-- <div class="col-lg-5 col-md-8 col-sm-12 py-5 mx-auto ml-lg-auto mr-lg-0 text-white">
                                  <h1 class="display-4 mb-3 font-weight-normal" style="font-family: 'Montserrat', sans-serif;">Clean and simple theme built with Bootstrap&nbsp;4</h1>
                                  <p class="lead mb-4">Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites</p>
                                  <hr class="my-3 pb-4 border-light" style="opacity: .1;">
                                  <p class="mt-3">
                                      <small>
                                          <i class="fa fa-heart mr-2"></i>Version 0.98 available
                                          <a class="btn-link text-light" href="#">
                                              <u>for download </u>
                                          </a>
                                      </small>
                                  </p>
                      </div> -->

                  </div>
              </div>
</div>
      <section class="gallery-block cards-gallery">

        <section class="container-fluid">
            <div class="heading">
                  <h2>Les derniers logements Atypik House :</h2>
            </div>
            <div class="row">
                <div  *ngFor="let accommodation of accommodations" class="col-md-3 col-lg-3" >
                    <div  class="card border-0 transform-on-hover">
                        <a class="lightbox" (click)=selectAccommodation(accommodation) routerLink = "/location/{{accommodation.id_accommodation}}">
                          <img src="{{accommodation.photos_accommodation}}" alt="Card Image" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h6><a href="#">{{accommodation.title}}</a></h6>
                            <a>{{accommodation.price}}€/par nuit</a><br>
                            <!-- <p class="text-muted card-text">{{accommodation.description_accommodation}}</p> -->
                            <br><button type="button" class="btn btn-atypik btn-md" (click)=selectAccommodation(accommodation) routerLink = "/location/{{accommodation.id_accommodation}}" >Découvrir</button>
                        </div>
                    </div>
                </div>


            </div>


        </section>
      <!-- BLOC#1 -->
      <!-- BLOC#2 -->
        <section class="container-fluid banner-sec">
          <div class="heading">
                <h2>Les dernières expériences Atypik House :</h2>
          </div>
                <div class="row">

                    <div class="col-md-3" *ngFor="let activity of activities">
                      <!-- Img card modal 1  ---------------------------------------------->
                        <div  class="card bdr-no">
                          <!-- Button trigger modal -->
                            <button  type="button" class="btn btn-primary brd-modal-color img-shadow" data-toggle="modal" data-target="#exampleModalG1" style="background: url(myimage.png)">
                                <img class="imgCarrousel img-responsive" src="{{activity.photos_activity}}" alt="Card Image" (click)=selectedActivity(activity) routerLink = "/activity-details/{{activity.id_activity}}">
                            </button>
                          <!-- Modal -->
                            <div class="modal fade" id="exampleModalG1" tabindex="-1" role="dialog" aria-labelledby="exampleModalG1" aria-hidden="true">
                                <div class="modal-dialog modal-width" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalG1">{{activity.name_activty}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body ">
                                            <img class="size-img-modal img-responsive" src="{{activity.photos_activity}}" alt="Card Image" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
        </section>
        <!-- BLOC#2 -->

    </section>
